name: Release

on:
  push:
    tags:
      - "*"

jobs:
  cocoapods:
    runs-on: macOS-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install CocoaPods
        run: gem install cocoapods

      - name: Deploy to CocoaPods
        run: |
          set -eo pipefail
          pod lib lint --allow-warnings
          pod trunk push --allow-warnings
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}
